@import '../variables.css';

.root {
  color: #fff;
  position: relative;
  float: left;
  width: 50%;
  z-index: 2;
}

.container {
  background-color: rgb(27, 33, 38);
  margin: 0 auto;
  padding: 2px 0;
  z-index: 2;
  position: relative;
  float: left;
  width: 100%;
  box-shadow: 0 0 5px #5a5a5a;
  @media (max-width: 775px) {
    z-index: 6;
  }
}

.brand {
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
  padding-left: 0.5em;
}

.navtoggle {
  position: relative;
  float: left;
  padding: 5px;
  margin-left: 15px;
  border: 0;
  display: none;
  background: transparent;
  border-radius: 4px;
  @media (min-width: 775px) {
    display: none;
  }
}

.navtoggle:hover {
  background-color: rgba(255,255,255,0.25);
}

.navtoggle:active {
  transform: scale(0.9);
}

.sronly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.iconbar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #ddd;
}

.iconbar + .iconbar {
  margin-top: 4px;
}

button:focus {
  outline: none;
}

.nav {
  float: left;
  width: 100%;
}

.containerTwo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 775px) {
    display: flex;
  }
}

.search {
  flex: 1;
  display: flex;
}

.searchInput {
  border: 1px solid #bbb;
  border-radius: 3px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 3px 0px 3px 8px;
  font-size: 12px;
  line-height: 12px;
  background: white;
  color: #3a3a3a;
  flex: 1;
  box-sizing: border-box;
  min-width: 125px;
  padding: 2px;
}

.searchIcon {
  position: relative;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 16px;
  padding: 0 5px;
}

.searchButton {
  position: relative;
  float: right;
  background: transparent;
  border: 1px solid #bbb;
  border-left: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 3px 8px 3px 0;
  background-color: white;
  padding: 0;
  left: -1px;
  cursor: pointer;
}

.link {
  text-align: center;
  flex: 1;
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 15px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.link {
  color: rgba(255, 255, 255, 1);
}

.link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.link:active {
  transform: scale(0.9);
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}
