html, body, #app {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 15px 15px 0 0;
}

h1, h2, h3, h4, p, a {
  font-family: 'Roboto', sans-serif;
}

* {
  outline: none;
}

.marker {
  background-size: cover;
  display: block;
  border: none;
  border-radius: 50%;
  border: 8px solid white;
  cursor: pointer;
  padding: 0;
}
