@import '../../components/variables.css';

.root {
  position: relative;
  float: left;
}

.banner {
  position: relative;
  float: left;
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../../../public/esteban-lopez.jpg');
  border-bottom: 5px solid #3bd98c;
}

.bannerFilter {
  position: relative;
  float: left;
  background: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  max-width: 1200px;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 300px;
  margin: 10px 0 0 10px;
  box-sizing: border-box;
  @media (max-width: 600px) {
    width: 100%;
    margin: 0;
    padding: 20px 7vw 0 7vw;
    @media (max-width: 350px) {
      padding: 10px 0 3px 3px;
    }
  }
}

.linkCenter {
  margin: 18px 18px 0 0;
  float: right;
  @media (max-width: 600px) {
    margin: 0;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.downloadLink {
  background-color: #3bd98c;
  border-radius: 4px;
  color: white;
  border: 0;
  padding: 7px 12px;
  float: right;
  cursor: pointer;
  text-decoration: none;
  @media (max-width: 600px) {
    margin: 10px 0;
    font-size: 16px;
  }
}

.downloadLink:hover {
  background-color: rgba(59,217,140,0.75);
}

.downloadLink:active {
  transform: scale(0.97);
}

.callToAction {
  position: absolute;
  float: left;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  @media (max-width: 600px) {
    top: 60%;
  }
}

.header1 {
  color: white;
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
  font-size: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 35px;
  letter-spacing: normal;
  font-weight: bold;
  margin-top: 0;
  @media (max-width: 600px) {
    font-size: 35px;
    line-height: 45px;
    @media (max-width: 350px) {
      font-size: 27px;
      line-height: 35px;
    }
  }
}

.paragraph {
  position: relative;
  float: left;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  text-align: center;
}

.buttonContainer {
  position: relative;
  float: left;
  width: 100%;
  margin: 20px 0;
}

.buttonCenter {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}

.signInButton, .signUpButton {
  border: 0;
  padding: 7px 15px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.signUpButton {
  margin-left: 5px;
  background-color: #3bd98c;
}

.signInButton {
  margin-right: 5px;
  background-color: rgba(255,255,255,.5);
}

.infoSlide {
  background-color: #1e1e22;
  position: relative;
  float: left;
  width: 100%;
}

.header2 {
  color: white;
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: normal;
  font-weight: 100;
  margin: 50px 0;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  left: 50%;
  transform: translateX(-50%);
}

.paragraph2 {
  font-size: 16px;
  color: #707070;
  text-align: center;
  line-height: 21px;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
  max-width: 300px;
  margin: 0;
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}

.createAccountButton {
  padding: 10px 30px;
  color: white;
  border: 0;
  border-radius: 4px;
  background-color: #3bd98c;
  position: relative;
  float: left;
  margin: 40px 0;
  cursor: pointer;
}

.createAccountButton:hover {
  background-color: rgba(59, 217, 140, 0.75);
}

.createAccountButton:active {
  transform: scale(0.97);
}

.contentContainer {
  position: relative;
  float: left;
  width: 100%;
}

.facebook, .twitter {
  position: relative;
  float: left;
}

.facebook {
  margin-right: 5px;
}

.twitter {
  margin-left: 5px;
}

.links {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  max-width: 510px;
}

.linksContainer {
  position: relative;
  float: left;
  width: 100%;
  color: white;
  padding: 0 50px 50px 50px;
  box-sizing: border-box;
}

.whyUsContainer, .insideContainer, .tonsOfStuffContainer, .businessesContainer {
  position: relative;
  float: left;
  flex: 1;
  min-width: 125px;
}

.whyUs, .inside, .tonsOfStuff, .businesses {
  padding: 0 10px;
  position: relative;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  float: left;
  width: 125px;
}

.header4 {
  font-size: 15px;
  line-height: 35px;
}

.linkParagraphs {
  font-size: 13px;
  line-height: 25px;
  color: #707070;
  display: block;
  cursor: pointer;
}

.linkParagraphs:hover {
  color: #3bd98c;
}

.linkParagraphs:active {
  transform: scale(0.97);
}

.footerContainer {
  background-color: #1e1e22;
  position: relative;
  float: left;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.footer {
  max-width: 500px;
  border-top: 1px solid white;
  padding: 50px 0;
  position: relative;
  float: left;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.legalContainer, .legal {
  position: relative;
  float: left;
  width: 100%;
  line-height: 22px;
}

.legal {
  text-align: center;
}

.legalContainer a, .termsLink, .contactLink {
  text-decoration: none;
  cursor: pointer;
  color: #999;
}

.legalContainer a:hover, .termsLink:hover, .contactLink:hover {
  color: #3bd98c;
}

.legalContainer a:active, .termsLink:active, .contactLink:active {
  transform: scale(0.97);
}

.legalContainer p {
  color: #999;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
}

.socialContainer {
  position: relative;
  float: left;
  width: 100%;
}

.social {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}

.createAccountCenter {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
}