@import '../variables.css';

.root {
  position: relative;
  float: left;
  width: 100%;
}

.messageBox {
  position: fixed;
  bottom: 0;
  right: 25px;
  background-color: #eaeaea;
  z-index: 5;
  border: 0;
  padding: 5px 10px;
  width: 200px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 5px 0 #5a5a5a;
}

.circle {
  position: relative;
  float: left;
  color: #8BC34A;
  font-size: 16px;
  line-height: 16px;
  margin-right: 5px;
}

.friendsOnline {
  position: relative;
  float: left;
  font-size: 14px;
  line-height: 14px;
  margin: 1px 0;
  font-family: 'Roboto',sans-serif;
  color: #2a2a2a;
}