@import '../../components/variables.css';

.root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  background-color: rgba(255,255,255,0.75);
  z-index: 6;
  transform: translateY(-100%);
}

.dropzone {
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border: 2px dashed #7d7d7d;
  border-radius: 5px;
  background-color: white;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.dropzone p {
  margin: 0;
  padding: 15px;
  color: #1a1a1a;
}

.dropzoneContainer {
  position: relative;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 200px;
}

.button {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  padding: 4px 0;
  margin-top: 5px;
  background-color: var(--theme-color);
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  transform: scale(0.95);
}